@import "./variables";

@mixin bg-color($theme-name) {
  @if ($theme-name == "indigo-pink") {
    background-color: #3f51b5;
  }

  @if ($theme-name == "deeppurple-amber") {
    background-color: #673ab7;
  }

  @if ($theme-name == "pink-bluegrey") {
    background-color: #e91e63;
  }

  @if ($theme-name == "purple-green") {
    background-color: #4caf50;
  }
}

@mixin text-color($theme-name) {
  @if ($theme-name == "indigo-pink") {
    color: #3f51b5;
  }

  @if ($theme-name == "deeppurple-amber") {
    color: #673ab7;
  }

  @if ($theme-name == "pink-bluegrey") {
    color: #e91e63;
  }

  @if ($theme-name == "purple-green") {
    color: #4caf50;
  }
}
