#add files which should be ignore before commit

#frontend
frontend/node_modules
frontend/*/node_modules
frontend/*/*/node_modules
frontend/*/package-lock.json
frontend/*/*/package-lock.json
frontend/portal/packages
frontend/certs

#backend
backend/node_modules
backend/*/node_modules
backend/*/*/node_modules
backend/*/logs
backend/*/logs*

#camunda
camunda/data

#egateway
egateway/node_modules
egateway/.yo-rc.json
egateway/config/certs
egateway/logs
egateway/package-lock.json

#others
notes.md
mongodb/data
mongodb/setup
mongodb/keys
mongodb/certs
.git

#swagger
swagger/node_modules
swagger/logs
