<div class="grid-container">
  <div class="item devices" [routerLink]="'devices'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">widgets</mat-icon>
        <p class="title">Devices</p>
      </div>
    </mat-card>
  </div>
  <div class="item orders" [routerLink]="'orders'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">group_work</mat-icon>
        <p class="title">Orders</p>
      </div>
    </mat-card>
  </div>
  <div class="item users" [routerLink]="'admin'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">face</mat-icon>
        <p class="title">Admin</p>
      </div>
    </mat-card>
  </div>
  <div class="item resources" [routerLink]="'resources'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">web</mat-icon>
        <p class="title">Resources</p>
      </div>
    </mat-card>
  </div>
  <div class="item ticket" [routerLink]="'ticket'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">web</mat-icon>
        <p class="title">Ticketing</p>
      </div>
    </mat-card>
  </div>
</div>