<div class="grid-container">
  <div class="item devices" [routerLink]="'../lib/devices'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">widgets</mat-icon>
        <p class="title">Devices</p>
      </div>
    </mat-card>
  </div>
  <div class="item orders" [routerLink]="'../lib/orders'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">group_work</mat-icon>
        <p class="title">Orders</p>
      </div>
    </mat-card>
  </div>
  <div class="item users" [routerLink]="'../lib/admin'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">face</mat-icon>
        <p class="title">Admin</p>
      </div>
    </mat-card>
  </div>
  <div class="item resources" [routerLink]="'../lib/resources'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">web</mat-icon>
        <p class="title">Resources</p>
      </div>
    </mat-card>
  </div>
  <div class="item ticket" [routerLink]="'../lib/ticket'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">web</mat-icon>
        <p class="title">Ticketing</p>
      </div>
    </mat-card>
  </div>
  <div class="item ticket" [routerLink]="'../lib/form-builder'" [@routerTransition]>
    <mat-card>
      <div class="flex">
        <mat-icon class="icon" color="primary">post_add</mat-icon>
        <p class="title">Form Builder</p>
      </div>
    </mat-card>
  </div>
</div>