<div class="container">
  <div class="grid-container">
    <div class="item" [routerLink]="'devices'">
      <mat-card>
        <div class="flex">
          <mat-icon class="icon">widgets</mat-icon>
          <p class="title">Devices</p>
        </div>
      </mat-card>
    </div>
    <div class="item" [routerLink]="'orders'">
      <mat-card>
          <div class="flex">
              <mat-icon class="icon">group_work</mat-icon>
              <p class="title">Orders</p>
            </div>
      </mat-card>
    </div>
    <div class="item" [routerLink]="'users'">
        <mat-card>
            <div class="flex">
                <mat-icon class="icon">face</mat-icon>
                <p class="title">Users</p>
              </div>
        </mat-card>
    </div>
    <div class="item" [routerLink]="'resources'">
        <mat-card>
            <div class="flex">
                <mat-icon class="icon">web</mat-icon>
                <p class="title">Resources</p>
              </div>
        </mat-card>
    </div>
  </div>
</div>