@import "../../theme/mixins";

.grid-container {
  width: 100%;
  max-width: 1240px;
  margin: 1rem auto 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  .item {
    cursor: pointer;
    .mat-card {
      height: 75px;
    }
  }

  mat-card {
    width: 260px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-height: 100%;
    // @include text-color("pink-bluegrey");
    // color: #3f51b5;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    .mat-icon {
      font-size: 70px;
      align-self: flex-start;
    }
    .title {
      align-self: center;
    }
  }
}

@media only screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
