@import "../../theme/mixins";

.grid-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;

  .item {
    cursor: pointer;
    .mat-card {
      height: 75px;
    }
  }

  mat-card {
    width: 250px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-height: 100%;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    .mat-icon {
      font-size: 70px;
      align-self: flex-start;
    }
    .title {
      align-self: center;
    }
  }
}
